* {
    border: 0;
    margin: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    max-width: 60rem;
    width: auto;
}

p {
    font-family: "Roboto", sans-serif;
}

h3 {
    font-weight: lighter;
}

h4 {
    font-weight: lighter;
}

.header {
    /* background-color: lightblue; */
    padding: 3rem;
    position: relative;
    /* overflow: hidden; */
}

.header::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -130%;
    left: -50%;
    /* z-index: -1; */
    /* background-size: cover; */
    background-color: lightblue;
    transform: rotate(-7deg);
}

.titlecard {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 15rem;
    align-items: center;
}

#author_name {
    position: absolute;
    color: white;
    transform: translate(-0.75rem, -2.75rem);
    font-size: 3rem;
    font-family: "Playfair Display", serif;;
}

#portrait_closeup {
    max-height: 15rem;
    transform: scale(1.25);
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 0.2);
}

.about_me {
    background-color: white;
    min-height: 12rem;
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 0.2);
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bio > h3 {
    font-weight: lighter;
    font-size: 2rem;
}

.about_me > .bio > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.about_me * ul > li {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.main > div > h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.project_bay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.project_card {
    display: flex;
    flex-direction: column;
    /* min-width: 5rem;  */
    max-width: 18rem;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 0.2);
}

.project_card > div {
    width: 100%;
    flex-grow: 1;
}

.project_card > div > img {
    display: flex;
    width: 100%;
    background-color: lightcoral;
    min-height: 10rem;
}

.project_description {
    padding: 0.5rem;
    /* border: 5px dotted red; */
    min-height: 10rem;
}

.project_description > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project_description > div > h4 {
    font-size: 1.25rem;
}

.project_description > div > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.project_description > div > ul > li{
    margin-left: 1rem;
    font-size: 1.2rem;
}

.project_description > p {
    padding-top: 1rem;
    font-size: 0.7em;
}

.footer {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    color: white;
    margin: 0;
    position: relative;
}

.footer li {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.footer::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0%;
    left: -50%;
    z-index: -1;
    /* background-size: cover; */
    background-color: lightblue;
}

.footer img.icon {
    height: 1.4rem;
    transform: translateY(0.3rem);
    justify-self: center;
    filter: invert(100%);
}

.footer p.icon_description {
    align-self: start;
}

#description > * {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#description > h3 {
    font-size: 2rem;
}

.contact_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
}

#portrait_distant {
    max-width: 30rem;
}

/* @media (max-width: 1000px) {

    #portrait_closeup {
        float: left;
        border: 5px dotted red;
    }

} */